@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    flex-direction: column;
}
.FrontPage{
    width: 793px;
    height: 1122px;
    background-color: #fff;
    color: #111;
    text-align: center;
    padding: 3vw 0;
    position: relative;
    border: 5px solid #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
#college{
    font-size: 3.2vw;
    color:#699bed;
    font-family: 'PT Serif', serif;
    margin-bottom: 1.5vw;
}
#logo{
    height: 44vh;
    margin-bottom: 2vw;

}
img{
    object-fit: contain;
    object-position: center;
}

#session{
    font-family: 'PT Serif', serif;
    font-size: 2vw;
    margin-bottom: 1vw;
}
#subject{
    font-family: 'PT Serif', serif;
    font-size: 3vw;
    color: #699bed;
    margin-bottom: 2.2vw;
}
#branch{
    font-family: 'PT Serif', serif;
    color: #ff2c2c;
    font-weight: 400;
    font-size: 2.2vw;
}
#yearSem{
    font-size: 2.2vw;
    color: #ff2c2c;
    font-family: 'PT Serif', serif;
    font-weight: 400;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 2vw;
   /* margin-top: 10vw;*/
}
.left{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 19vh;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 400;
}
.right{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 19vh;
    justify-content: flex-start;
    gap: 0.1vw;  
}

.bottom h1{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5vw;
}

/* buttons */

.formatbtn {
    margin-top: 10px;
}

.btn {
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    cursor: pointer;
    color: #1c3d5a;
    margin-top: 0.75rem;
    margin-bottom: 2rem;
    font-size: large;
    font-weight: 600;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid #3b82f6;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn:hover {
    background-color: #3b82f6;
    color: #ffffff;
    border-color: transparent;
}

.btn i {
    margin-right: 0.25rem;
    font-size: 1.2rem;
}

@media (max-width: 640px) {
    .formatbtn .btn {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-size: 0.875rem;
    }

    .formatbtn .btn i {
        margin-right: 0.125rem;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 767px) {
    .FrontPage{
        height: 90vh;
        width: 100vw;
        padding: 3.2vh 0;
    }
    #college{
        font-size: 3.1vh;
        margin-bottom: 1.8vh;
    }
    #logo{
        height: 24.3vh;
        margin-bottom: 2vh;
    }
    img{
        object-fit: contain;
        object-position: center;
    }
    #session{
        font-family: 'PT Serif', serif;
        font-size: 2.4vh;
        margin-bottom: 1.15vh;
    }
    #subject{
        font-family: 'PT Serif', serif;
        font-size: 2.8vh;
        color: #005659;
        margin-bottom: 2.4vh;
    }
    #branch{
        font-family: 'PT Serif', serif;
        font-weight: 400;
        font-size: 2.58vh;
    }
    #yearSem{
        font-size: 2.58vh;
        font-family: 'PT Serif', serif;
        font-weight: 400;
    }
    .bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:0 2vh;
        /*margin-top: 13.5vh;*/
        width: 100%;
    }
    .left{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        height: 9vh;
       font-family: Arial, Helvetica, sans-serif;
       font-weight: 400;
    }
    .right{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 9vh;
        justify-content: flex-start;
        gap: 0vh;
        
    }
    .bottom h1{
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 1.82vh;
    }
}
