 body {
     font-family: Georgia, 'Times New Roman', Times, serif;
 }

 .bg-page {
     background: linear-gradient(to right, #4f46e5, #9333ea, #ec4899);
 }

 .formelement {
     transition: all 0.3s ease;
 }

 .formelement:focus {
     outline: none;
     border-color: #4f46e5;
     box-shadow: 0 0 10px #4f46e5;
 }

 .btn {
     transition: all 0.3s ease;
 }

 .btn:hover {
     transform: scale(1.05);
 }
