@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        body {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

 .bg-page {
     background: linear-gradient(to right, #4f46e5, #9333ea, #ec4899);
 }

 .formelement {
     transition: all 0.3s ease;
 }

 .formelement:focus {
     outline: none;
     border-color: #4f46e5;
     box-shadow: 0 0 10px #4f46e5;
 }

 .btn {
     transition: all 0.3s ease;
 }

 .btn:hover {
     transform: scale(1.05);
 }
